*{
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

h1{
margin-bottom: 40px;
}

body{
	color: #f0efef;
	font-size: 26px;
	line-height: 1.4;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 300;
	margin: 0 0;
}


.wrapper{
	margin: 0 auto;
	width: 960px;
}

.hero{
	height:700px;
	background: url("../images/header_bg.jpg");
	background-size: cover;
	padding-top: 32px;
}

.logo {
	font-weight: 600;
	font-size: 40px;
	color: white;
}

.tagline {
	color: white;
	font-weight: 600;
	font-size: 48px;
	margin: 120px 0 90px 0;
	text-align: center;
}

.btn{
	font-weight: 800;
	width: 280px;
	text-align: center;
	margin: 0 auto;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 5px;
	display:block;
}

.hero .btn{
	background: #f9e42e;
	color: #033048;
	font-size: 28px;
}

.benefits{
	padding-top: 100px;
	padding-bottom: 80px;
}
.benefits p, ul {
	color: #606161;
	width: 600px;

	}

.benefits ul {
	margin-top: 30px;
	margin-left: 80px;
}



.benefits h1 {
	color: #033048;
	font-size: 40px;
	font-weight: 600;

}

blockquote {
	width: 580px;
	margin: 0 auto;
}

.quote {
	background: url("../images/testimonial_bg.jpg");
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
	
}

.quote .testimonial{
	text-align: center;
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
}

.quote .testimonial .quotesayer {
	display: block;
	font-weight: 600;
	font-style: normal;
}

.signupnow{
	background:#f9e42e;
	padding: 30px;
}

.signupnow .btn {
	background: #033048;
	color: #fff;
	font-size: 24px;
	
}

footer{
	background: #121212;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 45px;
}
footer .logo{
	color: #f9e42e;
	font-size: 48px;
	font-weight:800;
	padding-bottom:68px;
}

.copyright{
	font-size: 18px;
	color: #fff;
	font-weight: 600;
}

footer .socialmedia {
	padding-bottom: 40px;
	height: 147px;
	margin-top: 26px;
	margin-bottom: 26px;
}













